.App {
  text-align: center;
}

.App-header {
  background-color: #40d18b;
  height: 80px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.highlight {
  background-color: yellow;
}

.highlight2 {
  background-color: orange;
}
